.footer-1 {
  background-color: #222222 !important;
}

.foot-1 {
  border-bottom: 1px solid #383838 !important;
}

.foot-img {
  width: 100px !important;
}

.bg-3f {
  background-color: #3f3f3f !important;
}

.footer-2 {
  background-color: #0d0d0d !important;
} 

.btn-top {
  padding: 16px 22px 16px 22px !important;
  background-color: #ac1a19 !important;
}

.z-ind {
  position: fixed !important;
  bottom: 100px !important;
  right: 20px !important;
  z-index: 10 !important;
}

.btn-top i {
  font-size: 30px !important;
}
